<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
</head>
<body>

<h2>Adauga bani in cont</h2><br>
<p>Va rugam sa introduceti doar cifre in campurile de mai jos.</p>

<form action="/addMoneyLogic" method="POST">
    <label for="money">Adauga o suma de bani( euro)</label><br>
    <input type="number" value="" id="money" name="money" min="1" max="5000"><br>
    <label for="card">Detaliile cardului:</label><br>
    <input type="text" value="" id="card" name="card" minlength="16" maxlength="16"><br>
    <label for="cvv">CVV( il gasiti pe spatele cardului):</label><br>
    <input type="text" value="" id="cvv" name="cvv" minlength="3" maxlength="3"><br>
    <input type="submit" value="Submit">
    <title>Adauga bani</title> 
</form> 

<a href="/">Pagina principala</a>

<br><br>
{{.}}

</body>
</html>
