<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title id="theUsername">{{.Username}}</title>
    <h1 id="username">&nbsp;</h1>
</head>
<body>
    <div id="image"> </div>
    <h2>Descriere</h2>
    <p id="description">&nbsp;</p>
    <div {{if .IsTheSame}}>
        <form action="/editDescriptionAgency">
            <input type="submit" value="Editeaza descrierea" />
        </form>
     </div {{end}}>
    <p id="email">&nbsp;</p>
    <form action="/">
        <input type="submit" value="Pagina principala" />
    </form>
    <div {{if .IsTheSame}}>
        <form action="/logout">
            <input type="submit" value="Deconecteaza-te" />
        </form>
        <form action="/changePassword">
            <input type="submit" value="Schimba parola" />
        </form>
        <form action="/deleteMyself">
            <input type="submit" value="Sterge contul" />
        </form>
        <form action="/createTrip">
            <input type="submit" value="Adauga o excursie" />
        </form>
        <form action="/agencyBoughtTrips">
            <input type="submit" value="Detalii Clienti" />
        </form>
     </div {{end}}>
    <br><br>
    <h2> Excursiile postate de aceasta agentie de turism</h2>
    <hr>
     <div id="body"></div>
{{if . }}
    {{ .ErrMessage }}
{{ end }}
</body>
<script src="../assets/scripts/agencyPageScript.js"></script>
<script src="../assets/scripts/agencytrips.js"></script>
</html>