<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title id="theUsername">{{.Username}}</title>
    <h1 id="username">&nbsp;</h1>
</head>
<body>
    <div id="image"> </div>
    <h2>Descriere</h2>
    <p id="description">&nbsp;</p>
    <div {{if .IsTheSame}}>
        <a href="/editDescriptionAgency">Editeaza descrierea</a>
     </div {{end}}>
    <p id="email">&nbsp;</p>
    <a href="/">Pagina principala</a>
    <div {{if .IsTheSame}}>
        <a href="/logout">Deconecteaza-te</a>
        <a href="/changePassword">Schimba parola</a>
        <a href="/deleteMyself">Sterge contul</a>
        <a href="/createTrip">Adauga o excursie!</a>
     </div {{end}}>
    <br><br>
    <h2> Excursiile postate de aceasta agentie de turism</h2>
    <hr>
     <div id="body"></div>
{{if . }}
    {{ .ErrMessage }}
{{ end }}
</body>
<script src="../assets/scripts/agencyPageScript.js"></script>
<script src="../assets/scripts/agencytrips.js"></script>
</html>