<!DOCTYPE html>
<html lang="en">
   <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title>SpontaneousTravel</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.13.0/css/all.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link href="/assets/css/footer.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/css/cards.css" rel="stylesheet" type="text/css"/>
   </head>
    <body >
      <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav nav-pills nav-fill mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Acasa <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" >
              <a class="nav-link" href="/about">Despre noi </a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Oferta noastra
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/allAgencies">Agentii partenere</a>
                <a class="dropdown-item" href="/allTrips">Excursii disponibile</a>
              </div>
            </li>
            <li {{if not .ID}} class="nav-item" >
              <a class="nav-link" href="/login">Conecteaza-te </a>
            </li {{end}}>

            <li {{if not .ID}} class="nav-item" >
              <a class="nav-link" href="/register">Inregistreaza-te </a>
            </li {{end}}>
            <li {{if .ID}} class="nav-item" >
              <a class="nav-link" href="/logout">Deconecteaza-te </a>
            </li {{end}}>
            <li {{if .ID}} class="nav-item" >
              <a class="nav-link" href="/myPersonalPage">Profil </a>
            </li {{end}}>

          </ul>
        </div>
      </nav>
        <div class="login">
        <h1 class="titlu">Excursiile prezente sunt</h1>
      </div>
        <br><br>
        <div class="formular-login2">
        <small>Cauta dupa orasul dorit</small>
        <label for="searchCity"></label><br>
        <input class="smth" type="text" id="searchCity" name="searchCity"><br>
        
        <label for="sortC"></label> <br>
        <button id="sortC" class="toRegister-btn"> Sorteaza excursiile crescator dupa pret </button><br>
       
        <label for="sortD"></label> <br>
        <button id="sortD" class="toRegister-btn">Sorteaza excursiile descrescator dupa pret </button><br>
        <div class="form-check">
      
        <input type="radio" id="stars1" name="stars" class="form-check-input">
        <label for="stars1" class="form-check-label">O stea</label>
        &nbsp; &nbsp;
        <input type="radio" id="stars2" name="stars" value="hoteluri cu doua stele" class="form-check-input">
        <label for="stars2" class="form-check-label">Doua stele</label>
        &nbsp;&nbsp;&nbsp;
        <input type="radio" id="stars3" name="stars" value="hoteluri cu trei stele" class="form-check-input">
        <label for="stars3" class="form-check-label">Trei stele</label>
        &nbsp;&nbsp;&nbsp;
        <input type="radio" id="stars4" name="stars" value="hoteluri cu patru stele" class="form-check-input">
        <label for="stars4" class="form-check-label">Patru stele</label>
        &nbsp;&nbsp;&nbsp;
        <input type="radio" id="stars5" name="stars" value="hoteluri cu cini stele" class="form-check-input">
        <label for="stars5" class="form-check-label">Cinci stele</label>
        &nbsp;&nbsp;&nbsp;
        <input type="radio" id="stars6" name="stars" value="hoteluri cu sase stele" class="form-check-input">
        <label for="stars6" class="form-check-label">Sase stele</label>
        &nbsp;&nbsp;&nbsp;
        <input type="radio" id="stars7" name="stars" value="hoteluri cu sapte stele" class="form-check-input">
        <label for="stars7" class="form-check-label">Sapte stele</label>
        &nbsp;&nbsp;&nbsp;
        <input type="radio" id="starsall" name="stars" value="hoteluri cu sapte stele" class="form-check-input">
        <label for="starsall" class="form-check-label">Toate</label>
        </div>
         <br>
        <button  id="search" class="toRegister-btn">Cauta excursii dupa criteriile introduse</button>
        <br>
        <button id="reset" class="toRegister-btn">Reseteaza cautarea</button>
        <hr>
      </div>
        <div id="body"></div>
    </body>
    <footer class="footer-dark ">
      <div class="container">
          <div class="row">
              <div class="col-sm-6 col-md-3 item">
                  <h3>Services</h3>
                  <ul>
                     <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Oferta noastra
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="/allAgencies">Agentii partenere</a>
                          <a class="dropdown-item" href="/allTrips">Excursii disponibile</a>
                        </div>
                      </li>
                  </ul>
              </div>
              <div class="col-sm-6 col-md-3 item">
                  <h3>Contact</h3>
                  <ul>
                      <li><small><span class="fas fa-solid fa-envelope"> </span><a href="mailto:sponttraadm@gmail.com">   sponttraadm@gmail.com</a></small></li>
                      <li><small><span class="fas fa-solid fa-phone"> </span><a href="tel:+4077755511">    +4077755511</a></small></li>
                  </ul>
              </div>
              <div class="col-md-6 item text">
                  <h3>SpontaneousTravel</h3>
                  <small>
                     Gaseste vacanta perfecta!
                  </small>
              </div>
              <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
          </div>
          <p class="copyright">SpontaneousTravel © 2022</p>
      </div>
    </footer>
   <script src="../assets/scripts/allTrips.js"></script>
</html>