<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="pragma" content="no-cache" />
</head>
<body>
<h2 hidden id="theTripID">{{.ID}}</h2>
<h2 hidden id="theClientID">{{.ClientID}}</h2>
<h2 hidden id="theAgencyID">{{.AgencyID}}</h2>
<h2>Achizitonati o excursie</h2><br>

<form id="buyForm" method="POST">
    <label for="name">Nume complet:</label><br>
    <input type="text" value="" id="name" name="name"><br>

    <label for="address">Adresa:</label><br>
    <input type="text" value="" id="address" name="address"><br>

    <label for="phone">Numar telefon:</label><br>
    <input type="text" value="" id="phone" name="phone"><br>
    <input type="submit" value="Submit">
    <title>Cumpara excursia</title> 
</form> 

<p id="price">Suma de platit este {{.Price}} euro</p>

<a href="/">Pagina principala</a>

<br><br>
{{.}}

</body>
<script src="../assets/scripts/buyForm.js"></script>
</html>
