<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="pragma" content="no-cache" />
    <title>Schimbare parola</title>
</head>
<body>

    <h2>Schimba parola</h2><br>
    <ul>
        <li>Parola trebuie sa contina litere mici, litere mari, cifre si sa NU contina spatii</li>
    </ul><br>

<form action="/changePasswordLogic" method="POST">
    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password"><br>
    <input type="submit" value="Submit">
</form> 

<a href="/">Pagina principala</a>

<br><br>
{{.}}

</body>
</html>

</body>
</html>