<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
</head>
<body>

<h2>Sterge un user</h2><br>

<form action="/deleteClient" method="GET">
    <label for="username">Numele de utilizator:</label><br>
    <input type="text" value="" id="username" name="username"><br>
    <input type="submit" value="Submit">
    <title>Sterge un user</title> 
</form> 

<a href="/">Pagina principala</a>

<br><br>
{{.}}

</body>
</html>

</body>
</html>