<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
</head>
<body>

<h2>Editati descrierea agentiei dumneavoastra</h2><br>
<p>Va rugam sa introduceti o descriere care sa contina minim 25 de caractere.</p>

<form action="/editDescriptionAgencyPut" method="POST">
    <label for="description">Noua descriere:</label><br>
    <input type="text" value="" id="description" name="description"><br>
    <input type="submit" value="Submit">
    <title>Editeaza descrierea</title> 
</form> 

<form action="/">
    <input type="submit" value="Pagina principala" />
</form>

<br><br>
{{.}}

</body>
</html>
