<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<h2>Introduceti codul de verificare primit in email</h2><br>

<form action="/emailVerification" method="POST">
    <label for="email">Email:</label><br>
    <input type="text" value="" id="email" name="email"><br>
    <label for="vercode">Codul de verificare</label><br>
    <input type="text" id="vercode" name="vercode"><br>
    <input type="submit" value="Submit">
</form> 

<a href="/">Pagina principala</a>

<br><br>
{{.}}

</body>
</html>

</body>
</html>