<!DOCTYPE html>
<html lang="en">
   <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina principala</title>
   </head>
    <body>
       <h1>Pagina principala</h1>
       <a href="/allAgencies">Vizualizeaza o lista cu agentiile partenere</a>
       <a href="/allTrips">Vizualizeaza o lista cu toate excursiile disponibile</a>
       <div {{if .ID}}>
         <a href="/myPersonalPage">Pagina mea personala</a>
      </div {{end}}>
       <div {{if not .ID}}>
        <a href="/passwordReset">Reseteaza parola</a>
         <a href="/login">Conecteaza-te</a>
       <a href="/register">Inregistreaza-te</a>
       <a href="/emailVerificationPage">Verifica codul primit pe email</a>
      </div {{end}}>
      <br><br>
    </body>
    {{if .}}
      {{.}}
   {{end}}
</html>