<!DOCTYPE html>
<html lang="en">
   <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title>Pagina principala</title>
   </head>
    <body>
       <h1>Pagina principala</h1>
       <form action="/allAgencies">
         <input type="submit" value="Vizualizeaza o lista cu agentiile partenere" />
     </form>
     <form action="/allTrips">
      <input type="submit" value="Vizualizeaza o lista cu toate excursiile disponibile" />
  </form>
      
       <div {{if .ID}}>
         <form action="/myPersonalPage">
            <input type="submit" value="Pagina mea personala" />
        </form>
      </div {{end}}>
       <div {{if not .ID}}>
         <form action="/passwordReset">
            <input type="submit" value="Reseteaza parola" />
        </form>
        <form action="/login">
         <input type="submit" value="Conecteaza-te" />
     </form>
     <form action="/register">
      <input type="submit" value="Inregistreaza-te" />
  </form>
  <form action="/emailVerificationPage">
   <input type="submit" value="Verifica codul primit pe email" />
</form>
      </div {{end}}>
      <br><br>
    </body>
    {{if .}}
      {{.}}
   {{end}}
</html>