<!DOCTYPE html>
<html lang="en">
<head>
    <title>Conecteaza-te</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
</head>
<body>

<h2>Autentificare</h2><br>

<form action="/loginLogic" method="POST">
    <label for="username">Numele de Utilizator:</label><br>
    <input type="text" id="username" name="username"><br>
    <label for="password">Parola:</label><br>
    <input type="password" id="password" name="password"><br>
    <input type="submit" value="Submit">
</form> 

<form action="/">
    <input type="submit" value="Pagina principala" />
</form>

<br><br>
{{if .}}
    {{.}}
{{end}}

</body>
</html>