<!DOCTYPE html>
<html lang="en">
   <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title>Pagina Personala</title>
   </head>
    <body>
       <h1>Pagina personala</h1>
       <div {{if not .IsAdmin}}>
        <form action="/seeCart">
          <input type="submit" value="Vizualizeaza cosul de cumpraturi" />
      </form>
      <form action="/addMoney">
        <input type="submit" value="Adauga bani" />
    </form>
    <form action="/clientBoughtTrips">
      <input type="submit" value="Vezi excursiile cumparate" />
  </form>
        <p>Mai aveti {{.MoneyBalance}} euro in contul dumneavoastra</p>
     </div {{end}}>
       <div {{if .IsAdmin}}>
        <form action="/deleteClientPage">
          <input type="submit" value="Sterge un Client" />
      </form>
      <form action="/sendDiscountPage">
        <input type="submit" value="Trimite un discount" />
    </form>
    <form action="/registerAgency">
      <input type="submit" value="Adauga o agentie" />
  </form>
     </div {{end}}>
     <form action="/">
      <input type="submit" value="Pagina principala" />
  </form>
  <form action="/logout">
    <input type="submit" value="Deconecteaza-te" />
</form>
<form action="/deleteMyself">
  <input type="submit" value="Sterge contul" />
</form>
<form action="/changePassword">
  <input type="submit" value="Schimba parola" />
</form>
      <br><br>
{{if .}}
    {{.Username}}
{{end}}
    </body>
    
</html>