<!DOCTYPE html>
<html lang="en">
   <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina Personala</title>
   </head>
    <body>
       <h1>Pagina personala</h1>
       <div {{if .IsAdmin}}>
        <a href="/registerAgency">Adauga o agentie</a>
     </div {{end}}>
       <a href="/">Pagina principala</a>
      <a href="/logout">Deconecteaza-te</a>
      <a href="deleteMyself">Sterge contul</a>
      <br><br>
{{if .}}
    {{.Username}}
{{end}}
    </body>
    
</html>