<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="pragma" content="no-cache" />
    <title>Inregistreaza o agentie</title>
</head>
<body>

<h2>Creeaza un cont pentru agentiei</h2><br>
<h2>Accesul pe aceasta pagina este permisa doar celor conectati ca administratori, daca ai ajuns prin orice mijloace aici te rugam sa parasesti pagina</h2><br>
<ul>
    <li>Numele agentiei trebuie sa contina litere mici, litere mari si cifre</li>
</ul><br>

<form action="/registerAgencyLogic"  method="POST" enctype="multipart/form-data">
    <input type="file" name="agencyPhoto" /><br>
    <label for="username">Name:</label><br>
    <input type="text" id="username" name="username"><br>
    <label for="email">Email:</label><br>
    <input type="text" id="email" name="email"><br>
    <input type="submit" value="Submit">
</form> 

<br><br>
{{if .}}
    {{.}}
{{end}}

</body>
</html>