<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title>Inregistreaza-te</title>
</head>
<body>

<h2>Creeaza un cont</h2><br>
<ul>
    <li>Numele de utilizator trebuie sa contina litere mici, litere mari si cifre</li>
    <li>Parola trebuie sa contina litere mici, litere mari, cifre si sa NU contina spatii</li>
</ul><br>

<form action="/registerClientLogic" method="POST">
    <label for="username">Name:</label><br>
    <input type="text" id="username" name="username"><br>
    <label for="email">Email:</label><br>
    <input type="text" id="email" name="email"><br>
    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password"><br>
    <input type="submit" value="Submit">
</form> 

<form action="/">
    <input type="submit" value="Pagina principala" />
</form>

<br><br>
{{if .}}
    {{.}}
{{end}}

</body>
</html>