<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
</head>
<body>
    <form action="/">
        <input type="submit" value="Pagina principala" />
    </form>
<h2>Ai adaugat urmatoarele excursii in cos</h2><br>

<div id="cartTrips">
</div>

<br><br>
{{.}}

</body>
<script src="../assets/scripts/cartTrips.js"></script>
</html>