<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
</head>
<body>

<h2>Adauga un discount!</h2><br>

<form action="/sendDiscount" method="POST">
    <label for="username">Username-ul clientului</label><br>
    <input type="text" value="" id="username" name="username"><br>
    <label for="percentage">Procentul</label><br>
    <input type="number" value="" id="percentage" name="percentage" min="1" max="100"><br>
    <label for="description">Descrierea</label><br>
    <input type="text" value="" id="description" name="description" minlength="5" maxlength="50"><br>
    <label for="namePDF">Denumeste codul (max 10 caractere)</label><br>
    <input type="text" value="" id="namePDF" name="namePDF" minlength="5" maxlength="10"><br>
    <input type="submit" value="Submit">
    <title>Editeaza descrierea</title> 
</form> 

<a href="/">Pagina principala</a>

<br><br>
{{.ErrMessage}}

</body>
</html>
