<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vremea in {{.Username}}</title>
    
</head>
<body> 
<h1 id="theUsername" hidden>{{.Username}}</h1> 
<h2>Vremea in momentul actual in {{.Username}}</h2><br>
<div id="weather"></div>
<a href="/allTrips">Catre toate excursiile</a>

<br><br>

</body>
<script src="../assets/scripts/weather.js"></script>
</html>